<form method="POST" action="/videos/create">
  <p>title: <input type="text" name="title"></p>
  <p>description: <input type="text" name="description"></p>
  <p>Video_Url: <input type="text" name="video_url"></p>
  <input type="checkbox" name="pro">
  <input type="submit">
</form>
